{% import "_helpers.html" as helpers %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>GrooveMechanic - Abel Allison</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/normalize.css" media="all">
    <link rel="stylesheet" href="/css/skeleton.css" media="all">

    <link rel="stylesheet" href="/css/styles.css" media="all">

    {% block layout_css %}{% endblock %}
    {% block custom_css %}{% endblock %}

  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% block base_content %}{% endblock %}

    {% if env.dev %}
    <script>
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    {% endif %}

    {% block layout_js %}{% endblock %}
    {% block custom_js %}{% endblock %}
  </body>
</html>
