

{# Posts #}
{# ===== #}

{% macro post_list_item(title, slug) %}
  <li>
    <a href="/posts/{{ slug }}">{{ title }}</a>
  </li>
{% endmacro %}

{% macro post_page(title, slug, date) %}
  {% block post_title %}{{ title }}{% endblock %}
  {% block post_date %}{{ date }}{% endblock %}

  {% block post_content %}{{ caller() }}{% endblock %}
{% endmacro %}

{# Projects #}
{# ======== #}

{% macro project_list_item(name, slug) %}
  {% include "_project-item.html" %}
{% endmacro %}

{# Sketchbook #}
{# ========== #}

{% macro sketch_list_item(name, path) %}
  {% include "_sketch-item.html" %}
{% endmacro %}
