{% extends "_base.html" %}

{% block layout_css %}
<!-- code syntax highlighting -->
<!--<link class="codestyle" rel="stylesheet" href="/css/vendor/solarized-dark.min.css">-->
<link class="codestyle" rel="stylesheet" href="/css/vendor/monokai-sublime.min.css">
{% endblock %}

{% block layout_js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
<script type="text/javascript">
  hljs.initHighlightingOnLoad()
</script>
{% endblock %}

{% block base_content %}
{% if sketch_source_js %}

{% markdown %}
```js
{{ sketch_source_js | safe }}
```
{% endmarkdown %}

{% else %}

{% markdown %}
```js
{{ sketch_source | safe }}
```
{% endmarkdown %}

{% endif %}
{% endblock %}

{% block custom_js %}

{{ sketch_libs | safe }}
{{ sketch_source | safe }}
{% if sketch_source_js %}
<script type="text/javascript">
  {{ sketch_source_js | safe }}
</script>
{% endif %}

{% endblock %}
