{% extends "_two-column.html" %}

{% block left_column %}

  {% include "_bio.html" %}

  <div class="sketchbook">
    <a href="sketchbook/"><h4>Sketchbook</h4></a>
  </div>

  <div class="posts">
    <h4>Posts</h4>

    <ul class="unstyled">
      {{ helpers.post_list_item("Test Post", "test-post.html") }}
    </ul>
  </div>

{% endblock %}

{% block right_column %}

  <div class="projects">
    <ul class="unstyled">
      {{ helpers.project_list_item("cli-ck: JS lib for CLI interfaces", "cli-ck") }}
      {{ helpers.project_list_item("globcp: easily copy file trees", "globcp") }}
      {{ helpers.project_list_item("SVG Guitar Chord Renderer in JS", "guitar-chord-svg") }}
      {{ helpers.project_list_item("Chord Calculator", "chord-calculator") }}
      {{ helpers.project_list_item("8-bit GIF's", "8bitgifs") }}
      {{ helpers.project_list_item("Quadcopters: a thing I do for fun :)", "drones") }}
    </ul>
  </div>

{% endblock %}
